@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{

    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    --Bold: 500;
    --Big-Bold: 600;
    --Normal: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    padding: 0 auto;
    margin: 0 auto;
    display: grid;
    place-content: center;
    background-color: var(--Grey-100);
}

.container{
    padding: 2rem 2.65rem;
    max-width: 100vw;
    display: grid;
    grid-template-areas: 
    "grid-1 grid-1 grid-2 grid-3"
    "grid-4 grid-5 grid-5 grid-3";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.bg img{
    display: grid;
    margin-left: 70%;
}

.grid-1{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
    grid-area: grid-1;
    background-color: var(--Purple-500);
    position: relative;
    z-index: 5;
    color: var(--White);
}

.grid-2{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
    grid-area: grid-2;
    background-color: var(--Grey-500);
    position: relative;
    z-index: 5;
    color: var(--White);
}

.grid-3{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
    grid-area: grid-3;
    background-color: var(--White);
    position: relative;
    z-index: 5;
    color: var(--Grey-400);
}

.grid-4{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
    grid-area: grid-4;
    background-color: var(--White);
    position: relative;
    z-index: 5;
    color: var(--Grey-400);
}



.grid-5{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
    grid-area: grid-5;
    background-color: var(--Dark-blue);
    position: relative;
    z-index: 5;
    color: var(--White);
}

.testimonial p{
    margin-top: 1rem;
}

.name {
    margin-bottom: 1.5rem;
    display: flex; 
    color: var(--Grey-200);
    font-size: 15px;
}

.name img{
    width: 35px;
    /* margin-right: 1rem; */
    border-radius: 50%;
    border: 2px solid;
    border-color: var(--Grey-100);
}

.bg{
    width: 130px;
    position: absolute;
    top: 0;
    right: 110px;
}

@media (max-width: 1024px){
    .container{
        grid-template-areas: 
        "grid-1 grid-1 grid-2 grid-2"
        "grid-5 grid-5 grid-3 grid-3"
        "grid-4 grid-4 grid-4 grid-4"
        ;
    }

    .container .grid-1 .bg img{
        right: 40px;
    }
}

@media (max-width: 768px){
    .container{
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4"
        "grid-5"
        ;
    }

    .container .grid-1 .bg{
        width: 30px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}